@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-white: #fcfcfc;
    --primary-green: #00AD74;
    --deep-text: #111827;
    --secondary-text: #4B5563;
    --section-bg: #F3F4F6;
    --card-Borders: #8C92AC;
    --success: #22C55E;
    --font-main: 'Plus Jakarta Sans', sans-serif;
    --works-section: rgba(128, 128, 128, 0.226);
    --black: #121212;
}
body{
    font-family: var(--font-main);
    color: var(--deep-text);
    line-height: 1.5;
    background-color: var(--bg-white);
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--bg-white);
    width: 100%;
    transition: box-shadow 0.3s ease;
}
header.scrolled {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.menu-toggle{
    display: none;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;

}
nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    gap: 3em;
}
nav ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    position: relative;
}
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 20%;
    width: 0;
    height: 2px;
    background-color: var(--primary-green);
    transition: all 0.3s ease;
    transform: translateX(-);
    border-radius: 2px;
}
nav ul li a:hover::after {    
    width: 48px;
}
.brand{
    color: var(--black);
    text-decoration: none;
    font-weight: 800;
    font-size: 2.4rem;
}
.started, .started2{
    background-color: var(--primary-green);
    padding: 12px 20px;
    text-decoration: none;
    color: var(--bg-white);
    border-radius: 10px;
    font-weight: 600;
    border: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
.started:hover, .started2:hover{
    transform: scale(1.1);
}
.hero-section{
    margin: 50px auto;
    max-width: 1200px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.hero-header{
    width: 980px;
    padding: 0 50px 0 70px
}
.hero-header h1{
    font-weight: 800;
    font-size: 2.9rem;
    color: var(--black);
    padding-bottom: 30px;
}
.hero-header p{
    color: var(--black);
    font-weight: 500;
    margin: 0 60px 0 60px;
    font-size: 1.3rem;
}
.to-you{
    margin-left: 160px;
}
.tax{
    color: var(--primary-green);
}
.number{
    color: var(--primary-green);
}
.simple{
    margin: 0 180px 0 180px;
}
.button-container{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.Learn{
    background: transparent;
    background-color: none;
    border: none;
    color: var(--black);
    font-weight: 700;
    padding: 12px 20px;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.Learn:hover{
    border: 1px solid var(--primary-green);
    
    
}
.free, .Privacy, .Updated{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.success-tick {
  color: #16A34A; 
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 34px; 
}
.features{
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

.Everything{
    margin: 80px auto;
}
.intent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content{
    width: 670px;
    text-align: center;
    margin: 20px;
    padding: 0 30px 30px 30px;
}
.content h2{
    color: var(--black);
    font-size: 2.7rem;
    font-weight: 600;
}
.content p{
    text-align: center;
    max-width: 600px;
    margin: 10px 20px 0 10px;
    padding: 10px;
}
.know-wrapper{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.box{
    border: 1px solid var(--card-Borders);
    height: 280px;
    width: 240px;
    border-radius: 12px;
    padding: 14px;
}
.box:hover{
    border: 1px solid black;
    transform: scale(1.1);
    box-shadow: 3px 4px 8px var(--card-Borders);
}
.box h3{
    padding-top: 10px;
    margin-bottom: 10px;
}
.box p{
    font-size: 0.9rem;
}
.icon-green {
  color: #16A34A;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  background-color: #DCFCE7; 
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.How-works{
    margin: 100px auto;
}
.works-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bg);
    flex-direction: column;
    padding: 60px;
}
.work-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
}
.work-context h2{
    font-size: 2.7rem;
    color: var(--black);
}
.work-context p{
    font-weight: 500;
}
.understand{
    margin-left: 50px;
}
.box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 20px;
}
.box2{
    background-color: var(--bg-white);
    border: 1px solid var(--card-Borders);
    border-radius: 12px;
    padding:20px;
    height:300px;
    width: 220px;
}
.box2 h2{
    color: var(--success);
    font-size: 2.7rem;
    opacity: 0.5;
    font-weight: 700;
}
.box2 p{
    font-weight: 500;
    margin-top: 10px;
}
.last-content{
    margin: 100px auto;
}
.last-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.emptybox{
    background-color: var(--primary-green);
    height: 300px;
    width: 500px;
}
.whychoose{
    width: 600px;
}
.whychoose h2{
    color: var(--black);
    font-size: 2.7rem;
    margin-top: 10px;
}
.choose_features{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.choose{
    display: flex;
    align-items: center;  
    gap: 4px;
    padding: 10px;
} 
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCFCE7;
    width: 400px;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid var(--primary-green);
    margin: 50px auto;
}
.comments{
    display: flex;
    flex-direction: column;
}
.comments p{
    color: var(--primary-green);
    margin-bottom: 10px;
}
.comments span{
    color: 	#111827;
}
.redirect-section{
    margin: 100px auto;
    width: 870px;
}
.conclusion-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-green);
    padding: 20px;
    border-radius: 18px;
}
.redirect-section h2{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    width: 660px;
    margin-bottom: 10px;
}
.redirect-section p{
    color: var(--bg-white);
    text-align: center;
    width: 670px;
}
.Start-button{
    background-color: var(--bg-white);
    padding: 15px 24px;
    margin-top: 30px;
    border-radius: 14px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-green);
}
.Start-button:hover {
  background-color: #F9FAFB;
  transform: translateY(-2px); 
} 
.footer-features{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.footer-features .free{
    color: white;
    font-size: 1rem;
}
.footer-features .success-tick{
    color: white !important;
    background-color: transparent !important;
    font-size: 24px;
}
@media (max-width:768px) {
    .nav-bar{
        justify-content: space-between;
    }
    .menu-toggle{
        display: block;
        width:30px;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .menu{
        font-size: 35px;
        color: var(--primary-green);
    }
    .navigation{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-white);
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    .navigation.active {
        display: flex;
    }
    .started{
        display: none;
    }
    nav ul {
        flex-direction: column;
        gap: 1.5em;
    }
    body{
        overflow-x: hidden;
    }
    .hero-section{
        margin: 0;
        width: auto;
        max-width: auto;
    }
    .hero-header{
        width: auto;
        padding: 0;
    }
    .hero-header h1{
        font-size: 2.3rem;
        text-align: center;
        padding-bottom: 10px;
    }
    .hero-header p {
        margin: 0;
        font-size: 0.98rem;
        text-align: center;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .to-you{
        margin-left: 0;
    }
    .simple{
        margin-left: 0;
    }
    .Everything{
        margin: 0 0 0 0;
    }
    .content{
        width: auto;
    }
    .content h2{
        font-size: 2.2rem;
        font-weight: 700;
    }
    .intent{
        display: flex;
        flex-wrap: wrap;
    }
    .know-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        flex-wrap: nowrap;
        gap: 30px;
    }
    .button-container{
        margin-bottom: 30px;
    }
    .features{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .box{
       width: 270px;
       height: 300px;
    }
    .How-works{
        margin: 20px 0 0 0;
    }
    .works-wrapper{
        padding: 30px;
    }
    .work-context{
        padding: 20px;
        text-align: center;
    }
    .box-wrapper{
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    .box2{
        width: 270px;
    }
    .understand{
        margin-left: 0;
    }
    .last-content{
        margin: 20px;
    }
    .last-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px
    }
    .emptybox{
        width: 300px;
        height:300px;
    }
    .whychoose{
        text-align: center;
        padding: 20px;
        width: auto;
    }
    .whychoose h2{
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
    .choose_features{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .choose{
        padding: 10px;
    }
    .redirect-section{
        margin: 50px 20px 20px 20px;
        width: auto;
    }
    .conclusion-wrapper{
        padding: 20px;
        flex-wrap: nowrap;
    }
    .redirect-section h2{
        font-size: 1.9rem;
        width: auto;
    }
    .redirect-section p{
        width: auto;
        font-size: 0.9rem;
        height: auto;
    }
}